@model IEnumerable<MyClass.Models.Order>
<link href="~/Scripts/bootstrap.bundle.min.js" />
@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{

    <link href="~/Public/css/cdn.datatables.net_1.13.6_css_jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{

    <script src="~/Public/js/cdn.datatables.net_1.13.6_js_jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-3">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Danh sách đơn hàng</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Trash","Order")" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Thùng rác</a>
                    </div>
                </div>
            </div>
            <div class="m-2">
                @Html.Partial("Message")
                @*@if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" id="successMessage">
                            @TempData["SuccessMessage"]
                        </div>

                    }*@
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:20px;">#</th>
                            <th class="text-center">Tên khách hàng</th>
                            <th class="text-center">Ngày đặt hàng</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center" style="width:180px;">Chức năng</th>
                            <th class="text-center" style="width:20px;">Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center"></td>
                                <td class="text-center">
                                    @if (item.DeliveryName==null)
                                    {
                                        @Html.Action("NameCustomer", "User", new { userid = item.User_Id })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.DeliveryName)
                                    }
                                </td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Created_At)</td>
                                <td class="text-center">
                                    @if (item.Status == 1)
                                    {
                                        <div class="btn btn-sm btn-secondary">
                                            Chưa xác nhận
                                        </div>
                                    }
                                    else
                                    {
                                        if (item.Status == 2)
                                        {
                                            <div class="btn btn-sm btn-info">
                                                Đã xác nhận
                                            </div>
                                        }
                                        if (item.Status == 3)
                                        {
                                            <div class="btn btn-sm btn-warning">
                                                Đang giao hàng
                                            </div>
                                        }
                                        if (item.Status == 4)
                                        {
                                            <div class="btn btn-sm btn-success">
                                                Đã giao
                                            </div>
                                        }
                                    }

                                </td>
                                <td class="text-center">
                                    <a href="@Url.Action("Details","Order", new { @id = item.Id })" class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></a>
                                    @*@Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })*@
                                </td>
                                <td class="text-center">
                                    @item.Id
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    window.onload = function () {
        setTimeout(function () {
            var msg = document.getElementById('successMessage');
            if (msg) {
                msg.style.display = 'none';
            }
        }, 3000); // 5 giây
    }
</script>








@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_At)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated_At)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>*@
