@model IEnumerable<MyClass.Models.ProductInfo>

@{
    ViewBag.Title = "Tất cả sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{

    <link href="~/Public/css/cdn.datatables.net_1.13.6_css_jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{

    <script src="~/Public/js/cdn.datatables.net_1.13.6_js_jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-3">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Tất cả sản phẩm</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Create","Product")" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Thêm mới</a>
                        <a href="@Url.Action("Trash","Product")" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Thùng rác</a>
                    </div>
                </div>
            </div>
            <div class="m-2">
                @Html.Partial("Message")
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div>@ViewBag.Message</div>
                }
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:20px;">#</th>
                            <th class="text-center" style="width:100px;">
                                Hình
                            </th>
                            <th class="text-center">Tên sản phẩm</th>
                            <th class="text-center">Loại sản phẩm</th>
                            <th class="text-center">Thương hiệu</th>
                            <th class="text-center">Ngày Tạo</th>
                            <th class="text-center" style="width:180px;">Chức năng</th>
                            <th class="text-center" >Thêm khuyến mãi</th>
                            <th class="text-center" style="width:20px;">Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td class="text-center">
                                    <img src="~/Public/images/products/@item.Img" alt="tenhinh" class="img-fluid" />
                                </td>
                                <td class="text-center">@item.Name</td>
                                <td class="text-center">@item.CategoryName</td>
                                <td class="text-center">@item.BrandName</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Created_At)</td>
                                <td class="text-center">
                                    @if (item.Status == 1)
                                    {
                                        <a href="@Url.Action("Status","Product", new { id = item.Id })" class="btn btn-sm btn-success"><i class="fas fa-toggle-on"></i></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Status","Product", new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fas fa-toggle-off"></i></a>
                                    }
                                    <a href="@Url.Action("Details","Product", new { id = item.Id })" class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></a>
                                    <a href="@Url.Action("Edit","Product", new { id = item.Id })" class="btn btn-sm btn-info"><i class="fas fa-edit"></i></a>
                                    <a href="@Url.Action("DeTrash","Product", new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                                <td><a href="@Url.Action("ProductSale","Product", new { id = item.Id })" class="btn btn-sm btn-warning">Thêm khuyến mãi</a></td>
                              <td class="text-center">
                                    @item.Id
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    window.onload = function () {
        setTimeout(function () {
            var msg = document.getElementById('successMessage');
            if (msg) {
                msg.style.display = 'none';
            }
        }, 3000); // 5 giây
    }
</script>
